<HTML>
 <HEAD>
  <TITLE>
   <TMPL_VAR NAME="titulo">
  </TITLE>
  <TMPL_IF NAME="refresco_pagina">
  <META HTTP-EQUIV="REFRESH" CONTENT="60">
  </TMPL_IF>
 </HEAD>
 <BODY BGCOLOR="<TMPL_VAR NAME="color_de_fondo">">

