  <FORM ACTION="interferencia.html" METHOD="post\">
   <TABLE COOL BORDER="1" CELLPADDING="0" CELLSPACING="0" ALIGN="center">

    <TR>
     <TD COLSPAN="2" ALIGN="center" CONTENT VALIGN="bottom">
      <H1>
       <FONT FACE="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
        Calculo de Interferencia de Enlaces
        <BR>
        Ingrese los datos que se solicitan
       </FONT>
      </H1>
     </TD>
    </TR>

    <TR HEIGHT="20" cntrlrow>
     <TD HEIGHT="20" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD COLSPAN="2" ALIGN="center" CONTENT VALIGN="bottom">
      <B>
       <FONT FACE="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" COLOR="black">
        Datos de Enlace Interferente:
       </FONT>
      </B>
     </TD>
    </TR>
    
    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Nombre de Estaci&oacute;n
      <BR>
      Interferente
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="nombre" SIZE="20" VALUE="Bahia Blanca">
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Latitud
      <BR>
      (formato GGMMSS)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="latitud" SIZE="6" VALUE="383972">
      &nbsp;
      <B>
       Sur
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Longitud
      <BR>
      (formato GGMMSS)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="longitud" SIZE="6" VALUE="621653">
      &nbsp;
      <B>
       Oeste
      <B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Frecuencia de Transmisi&oacute;n
      <BR>
      (en MHz)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="frecuencia_transmision" SIZE="6" VALUE="7163">
      &nbsp;
      <B>
       MHz.
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Frecuencia de Recepci&oacute;n
      <BR>
      (en MHz)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="frecuencia_recepcion" SIZE="6" VALUE="7324">
      &nbsp;
      <B>
       MHz.
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Ancho de Banda
      <BR>
      (En canales telef&oacute;nicos)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="bandwith" SIZE="5" VALUE="480">
      &nbsp;
      <B>
       x Can. Tel.
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Ancho de Banda
      <BR>
      (En MHz)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="bandwith_mhz" SIZE="5" VALUE="28">
      &nbsp;
      <B>
       MHz
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Tipo de Modulaci&oacute;n
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="tipo_modulacion" SIZE="20" VALUE="28M0G7WDT">
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Acimut de Antena
      <BR>
      en enlace &uacute;til
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="acimut_enlace_util" SIZE="20" VALUE="360">
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Atenuaci&oacute;n de Alimentadores
      <BR>
      (en db)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="atenuacion_alimentadores" SIZE="6" VALUE="1">
      &nbsp;
      <B>
       db
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      P&eacute;rdida de Filtros
      <BR>
      y Conectores
      <BR>
      (en db)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="perdida_filtros_conectores" SIZE="6" VALUE="1">
      &nbsp;
      <B>
       db
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Tipo de Antena
      <BR>
      (Banda en GHz - Descripci&oacute;n)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <SELECT NAME="tipo_antena">
      <TMPL_LOOP NAME="tipo_antena">
       <OPTION> <TMPL_VAR NAME="tipo_antena"> - <TMPL_VAR NAME="banda"> &nbsp; - &nbsp <TMPL_VAR NAME="descripcion">
      </TMPL_LOOP>
      </SELECT>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Polarizaci&oacute;n de la Antena
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="radio" NAME="polarizacion_antena" VALUE="horizontal" CHECKED>
      &nbsp;
      Horizontal
      <BR>
      <INPUT TYPE="radio" NAME="polarizacion_antena" VALUE="vertical">
      &nbsp;
      Vertical
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Altura de la Antena
      <BR>
      sobre el suelo
      <BR>
      (en metros)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="altura_antena" SIZE="6" VALUE="60">
      &nbsp;
      <B>
       metros
      </B>
     </TD>
    </TR>

    <TR HEIGHT="10" cntrlrow>
     <TD HEIGHT="10" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD ALIGN="left" CONTENT VALIGN="center">
      Potencia de Transmisi&oacute;n
      <BR>
      (en dbm)
     </TD>
     <TD ALIGN="left" CONTENT VALIGN="center">
      <INPUT TYPE="text" NAME="potencia" SIZE="6" VALUE="24">
      &nbsp;
      <B>
       dbm
      </B>
     </TD>
    </TR>

    <TR HEIGHT="20" cntrlrow>
     <TD HEIGHT="20" ALIGN="right" XPOS="0" CONTENT VALIGN="middle" CSHEIGHT="32" NOWRAP COLSPAN="2">
     </TD>
    </TR>

    <TR>
     <TD COLSPAN="2" ALIGN="center" CONTENT VALIGN="center">
      <B>
       <FONT FACE="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" COLOR="black">
        <INPUT TYPE="submit" VALUE="calcular">
       </FONT>
      </B>
     </TD>
    </TR>

   </TABLE>
  </FORM>
